@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);
* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', Arial, sans-serif;
}
body {
    color: black;
    letter-spacing: 2px;
}
a {
    text-decoration: none;
    color: white;
}
ul, li {
    list-style-type: none;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.l-left {
    float: left;
}
.l-right {
    float: right;
}
.end {
    margin-top: 30px;
    font-size: 48px;
    font-weight: bold;
    opacity: 0;
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    transition: opacity, -webkit-transform 1s;
    transition: opacity, transform 1s;
    transition: opacity, transform 1s, -webkit-transform 1s;
    transition-delay: 1s;
}
.header-top {
    background: rgba(9, 14, 19, 0.15);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
}
h1 {
    line-height: 70px;
    height: 70px;
    text-transform: uppercase;
}
h1 a {
    display: block;
    padding: 0 10px;
}
.toggle-menu {
    width: 50px;
    height: 50px;
    display: none;
    position: relative;
    top: 10px;
}
.toggle-menu i {
    position: absolute;
    display: block;
    height: 2px;
    background: white;
    width: 30px;
    left: 10px;
    transition: all .3s;
}
.toggle-menu i:nth-child(1) {
    top: 16px;
}
.toggle-menu i:nth-child(2) {
    top: 24px;
}
.toggle-menu i:nth-child(3) {
    top: 32px;
}
.open-menu i:nth-child(1) {
    top: 25px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.open-menu i:nth-child(2) {
    background: transparent;
}
.open-menu i:nth-child(3) {
    top: 25px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
nav {
    height: 0;
    opacity: 0;
    box-sizing: border-box;
    background: rgba(0, 47, 77, .25);
    position: fixed;
    top: 70px;
    width: 100%;
    transition: all 1s;
}
.open-menu ~ nav {
    opacity: 1;
    z-index: 15;
    height: calc(90vh - 70px);
    margin-top: 40px;
}
nav ul {
    padding: 0 70px;
    display: flex;
}
nav li {
    flex: 1;
    margin: 0 30px;
}
nav li a {
    font-size: 32px;
    display: block;
    padding: 30px;
    text-align: center;
    transition: background .3s;
    border-radius: 8px;
}
nav li a {
    background: rgba(2, 13, 17, 0.85);
    margin: 0 20px;
}
nav li a:hover {
    background: #212121;
}

h2 {
    font-size: 64px;
    transform: scale(1, 1.6);
    font-weight: inherit;
    text-align: center;
}
h3 {
    font-weight: 300;
    font-size: 45px;
    margin-top: 20px;
    text-align: center;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid #212121;
}
#fp-nav.right {
    right: 24px !important;
}
.fp-tableCell {
    vertical-align: baseline;
    padding: 130px 0;
}


.smm-nav{
    position: fixed;
    z-index: 1;
    top: 48%;
    left: -100px;
    color: #fff;
    transform: rotate(-90deg);
    display: flex;
    align-items: baseline;
}
.smm-nav > p{
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 8px;
}
.smm-line{
    border-top: 1px solid #fff;
    width: 100px;
    height: 4px;
}
.media-icons {
    font-size: 18px;
    margin: 0 10px;
}
.svg-inline--fa {
    width: 26px;
    margin: 0 4px;
}

footer{
    color: #fff;
    position: absolute;
    left: 48%;
    top: 96vh;
}

/*      CONTACT      */
.vertical-scrolling:last-child{
    background-size: cover !important;
    background-position-y: -180px !important;
}
.contacts-main{
    display: flex;
    justify-content: center;
    align-items: self-end;
    margin-top: 120px;
}
.contact-title{
    color: #fff;
    margin-bottom: 30px;
}
.nameEmail{
    display: flex;
    justify-content: center;
}
.name-form, .email-form {
    width: 285px;
    position: relative;
    margin: 0 4px;
}
.name-input, .email-input{
    width: 280px;
    border: 1px solid #fff;
    padding: 12px 4px 8px;
    font-size: 14px;
    background-color: rgba(41, 38, 38, 0.205);
    color: #fff;
}
.name-label , .email-label{
    position: absolute;
    top: -7px;
    left: 54px;
    color: #fff;
    padding: 0 4px;
    font-size: 12px;
    top: -7px;
    left: 54px;
    background-color: rgba(19, 19, 19, 0.986);
}
.message-form{
    width: 576px;
    position: relative;
    margin: 18px auto 0;
}
.message-input{
    resize: none;
    width: 574px;
    padding: 12px 4px 8px;
    font-size: 14px;
    background-color: rgba(51, 47, 47, 0.575);
    color: #fff;
    height: 300px;
}
.map-container{
    margin-left: 100px;
}
.map-container>iframe{
    height: 300px;
    width: 480px;
    margin-top: 18px;
}
.phone-address{
    display: flex;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
}
.phone-address p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
.phone-address>p:first-child{
    margin-right: 90px;
}
.fa-map-marker-alt, .fa-phone-alt{
    font-size: 26px;
}





@media (max-width: 1600px)  {
    /*      CONTACT      */
    .vertical-scrolling:last-child{
        background-position-y: -74px !important;
    }
    .contacts-main{
        margin-top: 70px;
    }
}

@media (max-width: 1390px) {
    /*      CONTACT      */
    .vertical-scrolling:last-child{
        background-position-y: 0 !important;
        background-position-x: -200px !important;
    }
    .contact-title {
        margin-top: -20px;
    }
    .contacts-main {
        flex-direction: column;
        align-items: center;
    }
    .map-container {
        margin-left: 0;
        margin-top: 60px;
    }
}

@media (max-width: 1000px)  {
    /*      header      */
    #menu{
        flex-direction: column;
        align-items: end;
    }
    nav ul {
        padding: 0;
    }
    nav li {
        margin: 4px 0;
    }
    nav li a {
        width: 160px;
        padding: 4px;
    }
    .toggle-menu {

        display: inline-block;
    }
    /*      CONTACT      */
    .vertical-scrolling:last-child{
        background-position-x: -330px !important;
    }
}
@media (max-width: 800px)  {
    /*      CONTACT      */
    .vertical-scrolling:last-child{
        background-position-x: -460px !important;
    }
}


/*@media (max-width: 1200px) {
    .contacts-main{
        flex-direction: column;
    }
} */

/*@media (max-width: 767px) {*/
/*    nav ul {*/
/*        flex-direction: column;*/
/*    }*/ 
/*    nav li {*/
/*        margin-top: 1px;*/
/*    }*/
/*    nav li a {*/
/*        font-size: 1.5em;*/ 
/*    }*/
/*    .scroll-icon {*/
/*        display: none;*/
/*    }*/
/*}*/
/*@media (max-width: 400px) {*/
/*    .open-menu ~ nav {*/
/*        padding: 20px 0;*/
/*    }*/
/*    nav li a {*/
/*        padding: 3px;*/
/*    }*/
/*    .header-top {*/
/*        padding: 24px 10px;*/
/*    }*/
/*}*/
