
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000;
}
header{
    background: rgba(9, 14, 19, 0.9);
    color: white;
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100%;
}
header a {
    text-decoration: none;
    color: white;
}
.logo{
    width: 80px;
}
.header{
    display: flex;
    padding: 8px 20px;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
}
.burgerMenu{
    display: none;
    color: #fff;
    font-size: 40px;
}
#menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    max-width: 1200px;
    font-size: 18px;
    transform: scale(1, 1.3);
}
#menu>li{
    margin-left: 60px;
}
h1 {
    line-height: 70px;
    height: 70px;
    text-transform: uppercase;
}
h1 a {
    display: block;
    padding: 0 10px;
}
h2 {
    font-size: 64px;
    transform: scale(1, 1.6);
    font-weight: inherit;
    text-align: center;
}
h3 {
    font-weight: 300;
    font-size: 45px;
    margin-top: 20px;
    text-align: center;
}
footer{
    text-align: center;
    color: #fff;
}


.smm-nav{
    position: fixed;
    z-index: 1;
    top: 48%;
    left: -112px;
    color: #fff;
    transform: rotate(-90deg);
    display: flex;
    align-items: baseline;
}
.smm-nav > p{
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 8px;
}
.smm-line{
    border-top: 1px solid #fff;
    width: 100px;
    height: 4px;
}
.media-icons {
    font-size: 22px;
    margin: 0 10px;
}
.svg-inline--fa {
    width: 26px;
    margin: 0 8px;
}

.smallNav{
    position: fixed;
    z-index: 1;
    top: 52%;
    right: -20px;
    transform: rotate(-90deg);
    display: flex;
    align-items: baseline;
    cursor: pointer;
}
.smallMenuItem{
    width: 12px;
    height: 12px;
    margin: 0 8px;
    border-radius: 50%;
    border: 2px solid #e3e2e2;
}
.smallMenuItem:checked{
    background: #e3e2e2;
}


/*      GAMES       */

.games-content{
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}

/*      CONTACT      */
.content{
    width: 100%;
    min-height: calc(100vh - 140px);
    background-size: cover !important;
    padding-top: 160px;
}
#home{
    background: aqua;
}
#games{
    background: purple;
}
#gallery{
background: darksalmon;
}

.contacts-main{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 120px;
}
.contact-forms, .map-container{
    padding-bottom: 200px;
}
.content-title{
    color: #fff;
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nameEmail{
    display: flex;
    justify-content: center;
}
.name-form, .email-form {
    width: 285px;
    position: relative;
    margin: 0 4px;
}
.name-input, .email-input{
    width: 280px;
    border: 1px solid #fff;
    padding: 12px 4px 8px;
    font-size: 14px;
    background-color: rgba(41, 38, 38, 0.205);
    color: #fff;
}
.name-label , .email-label{
    position: absolute;
    top: -7px;
    left: 54px;
    color: #fff;
    padding: 0 4px;
    font-size: 13px;
    top: -7px;
    left: 54px;
    background-color: rgb(36, 34, 34);
}
.message-form{
    width: 576px;
    position: relative;
    margin: 18px auto;
}
.message-input{
    resize: none;
    width: 100%;
    padding: 12px 4px 8px;
    font-size: 14px;
    background-color: rgba(51, 47, 47, 0.575);
    color: #fff;
    height: 230px;
}
.sendBtn{
    width: 280px;
    border: 1px solid #fff;
    padding: 10px 4px;
    font-size: 14px;
    background-color: rgba(41, 38, 38, 0.205);
    color: #fff;
}
.map-container{
    margin-left: 100px;
}
.map-container>iframe{
    height: 230px;
    width: 480px;
    margin-top: 18px;
}
.phone-address{
    display: flex;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
}
.phone-address p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
.phone-address>p:first-child{
    margin-right: 90px;
}
.fa-map-marker-alt, .fa-phone-alt{
    font-size: 26px;
}



/* scrolling */
::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #0e0b0b;
}
::-webkit-scrollbar-thumb {
    background-color: #363339;
    border-radius: 20px;
}



@media (max-width: 1380px) {
    /*      CONTACT     */
    .contacts-main{
        flex-direction: column;
        align-items: center;
    }
    .contact-forms{
        padding-bottom: 40px;
    }
    .map-container {
        margin-left: 0;
    }
}
@media (max-width: 750px ) {
    #menu{
        display: none;
    }
    .burgerMenu{
        display: block;
    }
    .nameEmail{
        flex-direction: column;
    }
    .name-input {
        margin-bottom: 20px;
    }
    .message-form{
        width: 480px;
    }

}
@media (max-width: 610px) {
    /*      CONTACT     */
    .message-form{
        width: 390px;
    }
    .smm-nav{
        left: -138px;
    }
    .smallNav{
        right: -40px;
    }
    .map-container>iframe{
        width: 100%;
    }
    .map-container {
        width: 400px;
        margin: 0 auto;
    }
}
@media (max-width: 490px) {
    h2{
        font-size: 40px;
    }
    /*      CONTACT     */
    #contact{
        background-position-x: -160px !important;
    }
    .message-form{
        width: 300px;
    }
    .phone-address>p:first-child {
        margin-right: 20px;
    }
    .map-container {
        width: 300px;
    }
    .phone-address p{
        font-size: 12px;
    }
    .map-container {
        padding-bottom: 100px;
    }
}
@media (max-width: 380px) {
    /*      CONTACT     */
    #contact{
        background-position-x: -160px !important;
    }
    .message-form, .name-input, .email-input, .sendBtn{
        width: 240px;
    }
    .name-form, .email-form {
        width: 240px;
    }
    .map-container {
        width: 240px;
    }
    .smm-nav{
        left: -146px;
    }
    .smallNav{
        right: -46px;
    }
}
